form
  position: relative
  padding: 30px
  &.contact-form
    background: $grey100
    border: 1px solid $grey200
.input-field, .input-serch-header, .input-account
  position: relative
  input, textarea, select
    display: block
    padding: 10px
    width: 100%
    outline: none
    background-color: transparent
    border: 1px solid $grey300
    line-height: 1.5
    &:focus
      outline: none
  label
    font-size: 12px
    position: absolute
    left: 10px
    pointer-events: none
    top: 15px
    transition: all 0.2s ease
    color: $grey600
    font-style: italic

  label.error
    color: red
    position: relative
  input.error:focus ~ label.error, input.error.used ~ label.error, textarea:focus ~ label.error, textarea.used ~ label.error
    color: red
    font-size: 12px

  input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label
    color: black
    top: -2px
    font-size: 0

.input-serch-header
  input, textarea, select
    border: none
    color: white
    line-height: 2.3
    padding: 10px 20px
  label
    font-size: 18px
    left: 20px
    svg
      width: 20px
      height: 20px
      margin-right: 10px
      vertical-align: bottom
      path, g
        fill: white
  input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label
    color: white
    top: -2px
    font-size: 0
    svg
      display: none

.input-account
  input, textarea, select
    padding: 10px
    border: 2px solid $grey300
    &:focus
      border: 2px solid black
  select
    margin-bottom: 20px
    cursor: pointer
    option
      padding: 10px


