.header-container
  position: relative
  width: 100%
  z-index: 10000
  .logo-box
    background-color: $blue
    height: 56px
    width: 210px
    svg
      width: 100%
      height: 100%
  .header-body
    background-color: black
    width: calc(100% - 210px)
    height: 56px
    position: relative
    padding: 0 50px
    .input-serch-header
      +fullsize
      +transition(.3s)
      opacity: 0
      &.visible
        opacity: 1
    .one-page
      position: relative
      display: none
      &.disb
        display: block
      &.hidden
        display: none
        pointer-events: none
      .name-page, .return-page
        font-size: 20px
        font-weight: 300
        color: white
        line-height: 2.8
        display: inline-block
        svg
          fill: white
          vertical-align: text-bottom
          margin-right: 10px
        &.disn
          display: none
      .return-page
        cursor: pointer
      .drop-down-box
        +x-align
        top: 0
        .title
          color: white
          text-transform: uppercase
          font-size: 8px

      .right-box
      
        +y-align
        right: 20px
        .search-box
          cursor: pointer
          svg
            fill: white
            width: 20px
        .button
          margin-left: 40px
          padding: 5px 10px 5px 5px

    .input-serch-header
      .close-button
        cursor: pointer
        position: absolute
        right: 0
        top: 0
        bottom: 0
        background-color: $blue
        svg
          width: 56px
          height: 56px
          padding: 16px
          *
            fill: white

      .results-box
        text-transform: uppercase
        font-size: 10px
        color: $grey600
        position: absolute
        top: 25px
        right: 70px