.general-menu-box
  position: fixed
  left: 0
  top: 105px
  width: 210px
  &.disn
    display: none
  &:before
    content: ""
    display: block
    position: absolute
    width: 140px
    right: 0
    top: 0
    bottom: 0
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 )
    pointer-events: none

  .general-menu, .additional-menu
    li
      line-height: 3
      font-size: 14px
      border-top: 1px solid #e8e8e8
      padding-left: 40px
      position: relative
      a
        display: block

      &:last-child
        border-bottom: 1px solid #e8e8e8
      
      &.active
        +hover-patern
        font-weight: 700

      &.have-masages
        a
          display: inline-block
        span
          background-color: $blue
          color: white
          font-size: 10px
          border-radius: 10px
          padding: 5px
          margin-left: 20px

      &:hover
        +hover-patern
        font-weight: 700

  .additional-menu
    margin-top: 85px

  +breakpoint(xxlarge up)
    .general-menu, .additional-menu
      li
        line-height: 4
    .additional-menu
      margin-top: 140px
