.position-name
  font-size: 10px
  color: $grey300
  padding-top: 5px

.line-separator
  width: 100%
  height: 1px
  background: $grey300
  margin: 30px 0
  &.sm
    margin: 20px 0

.grid-item
  width: calc(25% - 4px)
  margin: 2px
  position: relative
  display: inline-block
  vertical-align: top
  .location-in-company
    position: absolute
    left: 30px
    top: 30px
  .info-chat
    position: absolute
    right: 30px
    top: 30px
    span
      font-size: 8px
      font-weight: 600
      color: white
      vertical-align: middle
    svg
      width: 15px
      height: 15px
      vertical-align: middle
      margin-left: 5px
      fill: white
    &.black
      span
        color: black
      svg
        fill: black
  .inner-content
    padding: 30px
    position: relative
    h5, h4, h6, .h5, .h4, .h6
      padding-bottom: 30px
      max-height: 83px
      overflow: hidden
      margin-bottom: 15px
    h4, .h4
      min-height: 125px
    p
      font-size: 12px
      line-height: 1.2
      margin-bottom: 30px
      max-height: 43px
      overflow: hidden

    .date
      font-size: 10px
      display: inline-block
      float: right
      vertical-align: middle
      text-transform: uppercase
      margin-top: 10px

    &.white-content
      h5, h4, h6, p, .h5, .h4, .h6
        color: white
      .date
        color: white


  &.full-bg
    min-height: 500px
    .img-box
      +fullsize
    .inner-content
      position: absolute
      bottom: 20px



  &.bg-half
    .img-box
      padding-bottom: 56%

  &.bg-white
    background-color: white

  &.bg-blue
    background-color: $blue

  &.bg-white, &.bg-blue
    .inner-content
      margin-top: 50px

.pagination-container
  .prev-button, .next-button
    text-transform: uppercase
    font-size: 10px
    cursor: pointer
    +transition(0.3s)
    span.arrows
      vertical-align: middle
      font-weight: 600
    svg
      width: 20px
      height: 20px
      margin: 0 5px
      vertical-align: middle
    &:hover
      color: $blue
      svg
        fill: $blue

  span.pagination-tab, .dots
    font-size: 14px
    margin: 0 10px
    padding: 5px 10px
    cursor: pointer
    +transition(0.3s)

    &.active
      color: white
      background-color: $blue
      border-radius: 50%

  .pagination-tab
    &:hover
      color: $blue


span.number
  margin-left: 5px
  vertical-align: baseline
  &:before, &:after
    position: relative
    display: inline-block
  &:before
    content: "("
  &:after
    content: ")"

.tab
  font-size: 14px
  // margin-left: 30px
  cursor: pointer
  position: relative
  &.active
    font-weight: 800
    &:before
      content: ""
      width: 100%
      height: 3px
      background: $blue
      position: absolute
      bottom: -30px
      left: 0


.one-coment, .your-comment-box
  padding: 20px 20px 20px 80px
  position: relative
  margin-bottom: 10px
  .name
    font-size: 12px
    font-weight: 700
    padding-bottom: 10px

  p
    font-size: 12px

  img
    position: absolute
    left: 20px
    top: 20px
    width: 40px
    height: 40px
    border-radius: 50%

  .date
    position: absolute
    top: 20px
    right: 20px
    span
      font-size: 10px
      text-transform: lowercase
    svg
      width: 10px
      height: 10px
      margin-left: 5px
      vertical-align: middle
      g, path
        fill: rgba(#191919, 0.5)
  
  .input-field
    padding-bottom: 50px
    input
      padding: 10px 10px 30px
  
    button.button
      position: absolute
      right: 0
      bottom: 0


.img-person
  position: relative
  img
    width: 50px
    height: 50px
    border-radius: 50%
    position: relative
    border: 1px solid $grey300
  &.active
    &:before
      content: ""
      position: absolute
      bottom: 0
      right: 30px
      height: 10px
      width: 10px
      border-radius: 50%
      background: rgb(53, 212, 116)
      border: 1px solid white
      z-index: 1



table
  border-collapse: collapse
  width: 100%
  tr
    border-bottom: 1px solid $grey300
  th
    .title
      font-size: 8px
      text-transform: uppercase
      color: #434343
      text-align: left
      padding-bottom: 10px
          
      &.none
        display: none