.allerts-popup
  padding: 30px
  width: 400px
  +xy-align
  height: auto
  background: white
  z-index: 1000
  opacity: 0
  pointer-events: none
  +transition(.3s)
  width: 500px
  height: 300px
  max-width: 100%
  max-height: 100%
  &.visible
    pointer-events: initial
    opacity: 1

  .title
    font-size: 24px 
    padding-bottom: 30px
    svg
      width: 22px
      height: 22px
      background: red
      border-radius: 50%
      padding: 3px
      fill: white
      margin-right: 5px

    &.red
      color: red

  p
    padding-bottom: 50px

  .button-box
    position: absolute
    bottom: 30px
    right: 30px
    left: 30px
    width: calc(100% - 60px)
    .button
      margin-left: 20px
      float: right
      &.left
        margin-left: 0
        float: left