.checkbox
  [type="checkbox"]:not(:checked), [type="checkbox"]:checked
    position: absolute
    left: -9999px

  [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label
    position: relative
    // padding-left: 1.95em
    cursor: pointer


  [type="checkbox"] + label:before
    width: 24px
    height: 24px
    border-radius: 5px
    // right: 0
    top: 0
    left: 0
    position: absolute
    content: ''
    background-color: transparent
    border: 2px solid #DFDFDF

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before
  //background: #fff
  //box-shadow: inset 0 1px 3px rgba(0,0,0,.1)

  [type="checkbox"]:checked
    & + label
      svg
        path, g
          fill: #00a5cd !important
          stroke: none


    & + label:before
      border-color: transparent
      background: #397fd2
      box-shadow: inset 0 1px 3px rgba(0,0,0,.1)


  [type="checkbox"]:checked + label:after


  /* checked mark aspect */
  [type="checkbox"] + label:after
    content: '✔'
    // content: ""
    // background-image: image_url("svg/check.svg")
    background-size: cover
    position: absolute
    width: 24px
    height: 24px
    left: 5px
    top: 6px
    font-size: 1em
    line-height: 0.8
    color: white
    transition: all .2s

  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after
    opacity: 0
    transform: scale(0)

  [type="checkbox"]:checked + label:after
    opacity: 1
    transform: scale(1)

  [type="checkbox"]:disabled:not(:checked) + label:before, [type="checkbox"]:disabled:checked + label:before
    box-shadow: none
    border-color: #DFDFDF
    background-color: #ddd

  span
    position: absolute
    left: 50px
    top: 0
    width: 300px