.nice-select {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 10px;
  color: white;
  font-weight: normal;
  height: 56px;
  line-height: 56px;
  outline: none;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 90px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: auto; }
  @media screen and (max-width: 640px) {
    .nice-select {
    width: 100%; }
  }
  .nice-select .current {
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.25s;
    font-size: 8px;  }
  .nice-select:hover {
    /*border-color: red; */
    }
  .nice-select:hover .current {
    color: white;
    }
  .nice-select:active, .nice-select.open {
    background: #424242;
    }
  .nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 70px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
        -ms-transform-origin: 66% 66%;
            transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px; }
    @media screen and (max-width: 640px) {
      .nice-select:after {
      right: 20px; }
    }
  .nice-select.open:after {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg); }
  .nice-select:before {
    content: "";
    display: block;
    background-color: transparent;
    position: absolute;
    height: 56px;
    width: 60px;
    z-index: -1;
    right: 115px;
   }

  .nice-select.open:before {
    background-color: #424242 }
  .nice-select.open .current {
    /*color: #C1175A;*/
  }
  .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0); }
  .nice-select.disabled {
    border-color: #ededed;
    pointer-events: none; }
    .nice-select.disabled:after {
      border-color: #cccccc; }
  .nice-select.wide {
    width: 100%; }
    .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important; }
  .nice-select.right {
    float: right; }
    .nice-select.right .list {
      left: auto;
      right: 0; }
  .nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px; }
    .nice-select.small:after {
      height: 4px;
      width: 4px; }
    .nice-select.small .option {
      line-height: 34px;
      min-height: 34px; }
  .nice-select .list {
    background-color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
    width: 300px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    /*left: 0;*/
    left: -50px;
    overflow-y: auto;
    height: 160px;
    -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
        -ms-transform: scale(0.75) translateY(-21px);
            transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 10000; }
    @media screen and (max-width: 640px) {
      .nice-select .list {
      width: 100%;
      }
    }
    .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important; }
  .nice-select .option {
    font-size: 13px;
    cursor: pointer;
    font-weight: 300;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    color: #dfdfdf;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
      color: white;
      font-weight: 600; }
    .nice-select .option.selected {
      font-weight: bold; }
    .nice-select .option.disabled {
      background-color: transparent;
      color: #999;
      cursor: default; }

.no-csspointerevents .nice-select .list {
  display: none; }

.no-csspointerevents .nice-select.open .list {
  display: block; }
