.agenda-wrap.tabs-content

  .row
    .columns.large-9
      .row
        .columns.large-6
          .calendar-box.shadow
            .calendar-container.simpleCalendar
          .calendar-box.shadow
            .calendar-container.simpleCalendar
          .calendar-box.shadow  
            .calendar-container.simpleCalendar

        .columns.large-6
          .tabs-box.dib.tab-buttons
            .tab.active.tab-button.dib 
              |Events
              span.number 4
            .tab.tab-button.dib 
              | Birthdays
              span.number 4

          .content-wrap.tab-content-wrapper
            .tab-content.active
              .title 
                |Events for the 0 of september
                span.number 4

              .one-event-box.shadow
                .img-box
                  .img-bg style="background-image: url(#{asset_path('photo/photo-2.jpg')})"
                  .status-box
                    .location-in-company.dib Global
                    .coment-svg-box
                      span 2
                      = inline_svg "svg/comment-icon.svg"
                .inner-content
                  .name-event 
                    |Business forum
                    = inline_svg "svg/circle-arrow.svg"
                  .info-box
                    .when
                      .svg-box = inline_svg "svg/clock.svg"
                      .time 09:00 - 21:00
                      .date 09 - 11 FEB (2018)
                    .where
                      .svg-box = inline_svg "svg/location.svg"
                      p London, SW1P 3EE Broad Sanctuary, Westminster Queen Elizabeth II Centre

                  .short-info-event
                    .invide 
                      .sub-title INVITED:
                      .content
                        img src="assets/photo/stuff-7.jpg"
                        img src="assets/photo/stuff-7.jpg"
                        img src="assets/photo/stuff-7.jpg"
                        img src="assets/photo/stuff-7.jpg"
                        span + 20 more
                    .attending 
                      .sub-title ATTENDING:
                      .content
                        img src="assets/photo/stuff-7.jpg"
                        img src="assets/photo/stuff-7.jpg"
                        img src="assets/photo/stuff-7.jpg"
                        img src="assets/photo/stuff-7.jpg"
                        span + 4 more

                    .description
                      p but places are limited so RSVP to the event today.industry event of the year. Registration is complimentary, Carne & Dechert would like to invite you to attend the 
                      .button
                        span WILL ATTEND

              .one-event-box.shadow
                .img-box
                  .img-bg style="background-image: url(#{asset_path('photo/photo-2.jpg')})"
                  .status-box
                    .location-in-company.dib Global
                    .coment-svg-box
                      span 2
                      = inline_svg "svg/comment-icon.svg"
                .inner-content
                  .name-event 
                    |Business forum
                    = inline_svg "svg/circle-arrow.svg"
                  .info-box
                    .when
                      .svg-box = inline_svg "svg/clock.svg"
                      .time 09:00 - 21:00
                      .date 09 - 11 FEB (2018)
                    .where
                      .svg-box = inline_svg "svg/location.svg"
                      p London, SW1P 3EE Broad Sanctuary, Westminster Queen Elizabeth II Centre

                  .short-info-event
                    .invide 
                      .sub-title INVITED:
                      .content
                        img src="assets/photo/stuff-7.jpg"
                        img src="assets/photo/stuff-7.jpg"
                        img src="assets/photo/stuff-7.jpg"
                        img src="assets/photo/stuff-7.jpg"
                        span + 20 more
                    .attending 
                      .sub-title ATTENDING:
                      .content
                        img src="assets/photo/stuff-7.jpg"
                        img src="assets/photo/stuff-7.jpg"
                        img src="assets/photo/stuff-7.jpg"
                        img src="assets/photo/stuff-7.jpg"
                        span + 4 more

                    .description
                      p but places are limited so RSVP to the event today.industry event of the year. Registration is complimentary, Carne & Dechert would like to invite you to attend the 
                      .button
                        span WILL ATTEND


              .coments-box
                .title 
                  |comments
                  span.number 2
                .one-coment.shadow.no-hover
                  .name Steve Bernart
                  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt esse aliquam cum, fuga eaque laborum, eius sunt, at vitae, corporis consequuntur et. Tempore aperiam harum adipisci accusamus rem asperiores distinctio.
                  img src="assets/photo/stuff-7.jpg"
                  .date
                    = inline_svg "svg/clock.svg"
                    span.valn 10 days ago
                
                .one-coment.shadow.no-hover
                  .name Steve Bernart
                  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt esse aliquam 
                  img src="assets/photo/stuff-7.jpg"
                  .date
                    = inline_svg "svg/clock.svg"
                    span.valn 1 days ago

                .title 
                  |write your comment

                .your-comment-box.shadow.no-hover
                  img src="assets/photo/stuff-7.jpg"
                  .input-field
                    input#comment name="comment"
                    label post comment here....
                    button.button
                      span post comment


            .tab-content
              .birthdays-box
                .title 
                  |Birthdays for the 0 of september
                  span.number 4

                .one-birthday.shadow.no-hover
                  .row.collapse
                    .medium-2.columns
                      .img-person
                        img src="assets/photo/stuff-7.jpg"
                    .medium-5.columns
                      .name 
                        |Aron Shapiro
                        span.location-in-company.dib dublin
                      .position Executive Directop

                    .medium-2.columns
                      .years-box 
                        |Turning
                        .years
                          |45
                          span years
                    .medium-3.columns
                      .button
                        = inline_svg "svg/comment-icon.svg"
                        span greet

                .one-birthday.shadow.no-hover
                  .row.collapse
                    .medium-2.columns
                      .img-person.active
                        img src="assets/photo/stuff-7.jpg"
                    .medium-5.columns
                      .name 
                        |Aron Shapiro
                        span.location-in-company.dib dublin
                      .position Executive Directop

                    .medium-2.columns
                      .years-box 
                        |Turning
                        .years
                          |45
                          span years
                    .medium-3.columns
                      .button
                        = inline_svg "svg/comment-icon.svg"
                        span greet

                 
                
                