.article-one-wrap
  .row
    .large-9.columns
      .img-container
        .img-bg style="background-image: url(#{asset_path('photo/photo-5.jpeg')})"
        

      h2 Brexit: Business leaders call for swift transition deal
      h5 Britain's five biggest business lobby groups are calling for an urgent Brexit transition deal, or they warn the UK risks losing jobs and investment.

      .line-separator

      h5 More concessions
      p There has been a growing anxiety among businesses at what they see as a lack of progress in the Brexit negotiations. One of the five groups told the BBC it was felt a joint letter would "emphasise our wish for a deal and clarity".They say it is important that the Brexit transition period matches as closely as possible current trading arrangements with the EU.
      p Theresa May has suggested a period of about two years, with the UK and EU trading on broadly similar terms to now and payments to Brussels to meet Britain's budget commitments.
      p 
        |But although EU negotiators have agreed to start preliminary work on a 
        span future relationship, 
        |they still want more concessions on the UK's so-called "divorce payment" before starting talks on trade and transition.


      h5 'Deeply technical'
      p Goldman, which employs about 6,000 people in London, is building up its presence in the German financial city ahead of Brexit.
      p Earlier this month, the deputy governor of the Bank of England, Sam Woods, warned that the UK and the EU must agree a transition deal by Christmas or companies would start triggering contingency plans. And in a survey released on Monday, the EEF said that Brexit uncertainty was holding back the plans of manufacturing firms to invest in new plant and machinery.
      p The EEF said the outlook for investment among its members was "finely balanced", with 51% intending to spend more in the next two years. For the rest, uncertainty over the UK's exit from the EU was holding back planned spending.

      blockquote
        p Goldman, which employs about 6,000 people in London, is building up its presence in the German financial city ahead of Brexit.
        .name Steve Bernat
        .position-name President of the world

      p There has been a growing anxiety among businesses at what they see as a lack of progress in the Brexit negotiations. One of the five groups told the BBC it was felt a joint letter would "emphasise our wish for a deal and clarity". They say it is important that the Brexit transition period matches as closely as possible current trading arrangements with the EU.
      p Theresa May has suggested a period of about two years, with the UK and EU trading on broadly similar terms to now and payments to Brussels to meet Britain's budget commitments.
      p 
        |But although EU negotiators have agreed to start preliminary work on a 
        span future relationship, 
        |they still want more concessions on the UK's so-called "divorce payment" before starting talks on trade and transition.

    .columns.large-3
      .person-block.shadow
        .avatar
          .img-bg style="background-image: url(#{asset_path('photo/stuff-7.jpg')})"
        .name Aaron Shapiro
        .position-name Executive Director
        
        .line-separator.sm

        .date
          | Date:
          span
            |30 oct 2017
        .plase
          | Office:
          span
            | London
        .category
          | Category:
          a href="/" Global 

        .svg-box
          = inline_svg "svg/email.svg"
          = inline_svg "svg/chat.svg"
 
      .updates-new-wrap
        .name-block Other updates
        .updates-box.shadow
          a.one-update href="/"
            .title Catalans 'won't follow Madrid's orders'
            .date 30 oct 2017
          a.one-update href="/"
            .title Undercover FBI 'extremist' reveals work
            .date 30 oct 2017
          a.one-update href="/"
            .title Catalans 'won't follow Madrid's orders'
            .date 30 oct 2017
          a.one-update href="/"
            .title Catalans 'won't follow Madrid's orders'
            .date 30 oct 2017
          a.one-update href="/"
            .title EU negotiators have agreed to start preliminary work on a future relationship
            .date 30 oct 2017
        