.components-page

  / P E R S O N    B L O C K 

.columns.large-3
  .person-block.shadow
    .avatar
      .img-bg style="background-image: url(#{asset_path('photo/stuff-7.jpg')})"
    .name Aaron Shapiro
    .position-name Executive Director
    
    .line-separator.sm

    .date
      | Date:
      span
        |30 oct 2017
    .plase
      | Office:
      span
        | London
    .category
      | Category:
      a href="/" Global 

    .svg-box
      = inline_svg "svg/email.svg"
      = inline_svg "svg/chat.svg"

  / U P D A T E S   B L O C K 

.columns.large-3
  .updates-new-wrap
    .name-block Other updates
    .updates-box.shadow
      a.one-update href="/"
        .title Catalans 'won't follow Madrid's orders'
        .date 30 oct 2017
      a.one-update href="/"
        .title Undercover FBI 'extremist' reveals work
        .date 30 oct 2017
      a.one-update href="/"
        .title Catalans 'won't follow Madrid's orders'
        .date 30 oct 2017
      a.one-update href="/"
        .title Catalans 'won't follow Madrid's orders'
        .date 30 oct 2017
      a.one-update href="/"
        .title EU negotiators have agreed to start preliminary work on a future relationship
        .date 30 oct 2017

/ O N E   E V E N T S   A G E N D A

.one-event-box.shadow
  .img-box
    .img-bg style="background-image: url(#{asset_path('photo/photo-2.jpg')})"
    .status-box
      .location-in-company.dib Global
      .coment-svg-box
        span 2
        = inline_svg "svg/comment-icon.svg"
  .inner-content
    .name-event 
      |Business forum
      = inline_svg "svg/circle-arrow.svg"
    .info-box
      .when
        .svg-box = inline_svg "svg/clock.svg"
        .time 09:00 - 21:00
        .date 09 - 11 FEB (2018)
      .where
        .svg-box = inline_svg "svg/location.svg"
        p London, SW1P 3EE Broad Sanctuary, Westminster Queen Elizabeth II Centre

    .short-info-event
      .invide 
        .sub-title INVITED:
        .content
          img src="assets/photo/stuff-7.jpg"
          img src="assets/photo/stuff-7.jpg"
          img src="assets/photo/stuff-7.jpg"
          img src="assets/photo/stuff-7.jpg"
          span + 20 more
      .attending 
        .sub-title ATTENDING:
        .content
          img src="assets/photo/stuff-7.jpg"
          img src="assets/photo/stuff-7.jpg"
          img src="assets/photo/stuff-7.jpg"
          img src="assets/photo/stuff-7.jpg"
          span + 4 more

      .description
        p but places are limited so RSVP to the event today.industry event of the year. Registration is complimentary, Carne & Dechert would like to invite you to attend the 
        .button
          span WILL ATTEND


// O N E    C O M E N T

.one-coment.shadow.no-hover
  .name Steve Bernart
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt esse aliquam cum, fuga eaque laborum, eius sunt, at vitae, corporis consequuntur et. Tempore aperiam harum adipisci accusamus rem asperiores distinctio.
  img src="assets/photo/stuff-7.jpg"
  .date
    = inline_svg "svg/clock.svg"
    span.valn 10 days ago

.one-coment.shadow.no-hover
  .name Steve Bernart
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt esse aliquam 
  img src="assets/photo/stuff-7.jpg"
  .date
    = inline_svg "svg/clock.svg"
    span.valn 1 days ago

// W R I T E    C O M E N T S

.your-comment-box.shadow.no-hover
  img src="assets/photo/stuff-7.jpg"
  .input-field
    input#number name="number"
    label post comment here....
    button.button
      span post comment


// O N E    B I R T H D A Y   B L O C K

.one-birthday.shadow.no-hover
  .row.collapse
    .medium-2.columns
      .img-person
        img src="assets/photo/stuff-7.jpg"
    .medium-5.columns
      .name 
        |Aron Shapiro
        span.location-in-company.dib dublin
      .position Executive Directop

    .medium-2.columns
      .years-box 
        |Turning
        .years
          |45
          span years
    .medium-3.columns
      .button
        = inline_svg "svg/comment-icon.svg"
        span greet

// S W E E C H E R    B O X 

.sweecher-box
  .sweecher