.dashboard-page
  .row
    .columns.large-9

      .grid

        a.grid-item.full-bg.shadow href=article_one_path
          .img-box
            .img-bg style="background-image: url(#{asset_path('photo/stuff-2.jpg')})"
          .inner-content.white-content
            .h6 How to improve reportsinside Carne offices
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas fuga dolorem voluptatum ratione commodi optio facilis velit tempora dolores atque aliquam veniam dolor modi eligendi odio, debitis, dicta, molestiae?
            .button.white-color 
              span read more
            .date 30 oct 2017

          .location-in-company global
          .info-chat 
            span 12
            = inline_svg "svg/comment-icon.svg"

        a.grid-item.bg-half.shadow href=article_one_path
          .img-box
            .img-bg style="background-image: url(#{asset_path('photo/photo-2.jpg')})"
          .inner-content
            .h6 How to improve reportsinside Carne offices
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas fuga dolorem voluptatum ratione commodi optio facilis velit tempora dolores atque aliquam veniam dolor modi eligendi odio, debitis, dicta, molestiae?
            .button 
              span read more
            .date 30 oct 2017

          .location-in-company global
          .info-chat 
            span 12
            = inline_svg "svg/comment-icon.svg"
            

        a.grid-item.bg-white.shadow href=article_one_path
          .img-box
            .img-bg style="background-image: url(#{asset_path('photo/photo-4.jpg')})"
          .inner-content
            .h4 Changing the rule when it comes to addressing client problems
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas fuga dolorem voluptatum ratione commodi optio facilis velit tempora dolores atque aliquam veniam dolor modi eligendi odio, debitis, dicta, molestiae?
            .button 
              span read more
            .date 30 oct 2017
          .location-in-company global 
          .info-chat.black
            span 12
            = inline_svg "svg/comment-icon.svg"

        a.grid-item.bg-blue.shadow href=article_one_path
          .img-box
            .img-bg style="background-image: url(#{asset_path('photo/stuff-1.jpg')})"
          .inner-content.white-content
            .h6 Delivering accurate stats to Carne`s other offices and departments inside Carne
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas fuga dolorem voluptatum ratione commodi optio facilis velit tempora dolores atque aliquam veniam dolor modi eligendi odio, debitis, dicta, molestiae?
            .button.white-color  
              span read more
            .date 30 oct 2017

          .location-in-company.white global
          .info-chat 
            span 12
            = inline_svg "svg/comment-icon.svg"


    .large-3.columns
      .activity-feed-box
        .title Activity feed

        .activity-filters-button = inline_svg "svg/ic_filter_list_black_24px.svg"

        .drop-down-filter-activity
          .title Manager your feed

          .checkbox
            input#comments-check type="checkbox" 
            label.switcher-control for="comments-check"
              span Comments

          .checkbox
            input#birthbays-check type="checkbox" 
            label.switcher-control for="birthbays-check"
              span Birthbays

          .checkbox
            input#reminders-check type="checkbox" 
            label.switcher-control for="reminders-check"
              span Reminders

          .checkbox
            input#new-update-check type="checkbox" 
            label.switcher-control for="new-update-check"
              span New people

        .one-activity-box.shadow
          .head-box
            .img-box.dib
              img src="assets/photo/photo-1.jpg"
            .name-box.dib
              .name Alexandre Rodrigues
              .position Executive Directio
            .line-separator
            .text-box
              p
                |Posted
                a href="" Infrestucture behind your delivery 
                | update

              .time-post 14:15

        .one-activity-remember-box.shadow
          .head-box
            .img-box
              img src="assets/photo/photo-2.jpg"
            .text-box.white
              p
                |Reminder
                a href="" 1 hour left 
                | until
                a href="" Business forum
                | event

              .time-post.black 13:15

        .one-activity-box.shadow
          .head-box
            .img-box.dib
              img src="assets/photo/photo-3.jpg"
            .name-box.dib
              .name Jhon Doe
              .position Manager
            .line-separator
            .text-box
              p
                |Posted
                a href="" Infrestucture behind your delivery 
                | update
                a href="" behind your 

              .time-post 14:15
