.my-events-wrap
  .row
    .medium-9.columns
      .account-content.shadow.no-hover
        .head-title Notifications
        .title-info The list of an events you are attending

        table 
          tr
            th
              .title name
            th
              .title position
            th
              .title department
            th
              .title.none info

          tr.content-table
            td 
              .name 
                .img.dib
                  img src="assets/photo/photo-1.jpg"
                span.name-event 
                  |Chistmas corporate party
                  span new              
            td 
              .date-time
                = inline_svg "svg/clock.svg"
                | 09 FEB (09:00 - 21:00)

            td 
              .location-in-company London
            td 
              .info = inline_svg "svg/ic_info_outline_black_24px.svg"


          tr.content-table
            td 
              .name 
                .img.dib
                  img src="assets/photo/photo-2.jpg"
                span.name-event 
                  |TED tals in London           
            td 
              .date-time
                = inline_svg "svg/clock.svg"
                | 09 FEB (09:00 - 21:00)

            td 
              .location-in-company dublin
            td 
              .info = inline_svg "svg/ic_info_outline_black_24px.svg"

          tr.content-table
            td 
              .name 
                .img.dib
                  img src="assets/photo/photo-3.jpg"
                span.name-event 
                  |funds Congress 2018    
            td 
              .date-time
                = inline_svg "svg/clock.svg"
                | 09 FEB (09:00 - 21:00)

            td 
              .location-in-company Kiev
            td 
              .info = inline_svg "svg/ic_info_outline_black_24px.svg"

    .medium-3.columns
      = render "account_menu"