.sign-general-form
  form.sign-in.validable
    .head-title Sign in to Inner Circle
    .input-field
      .title.dib Email
      input#email name="email" placeholder="Enter your email"
    .input-field
      .title.dib Fassword
      input#password name="password" placeholder="Enter your password"

    .forgot-passwrd-button forgot fassword?

    a.button href=dashboard_page_path
      span sign in

    / button.button
    /   span sign in

  form.forgot-passwrd.validable
    .head-title.sm Recover password
    .sub-title Enter your email address below and we`ll get you back on track
    .input-field
      .title.dib Email
      input#forgot-email name="forgot-email" placeholder="Enter your email"
    button.button
      span recover