.notification-wrap
  .row
    .medium-9.columns
      .account-content.shadow.no-hover
        .head-title Notifications
        
        .cheak-box-container
          .title-info Send me an e-mail notification when:

          .checkbox
            input#new-update-check type="checkbox" 
            label.switcher-control for="new-update-check"
              span There is new update

          .checkbox
            input#invited-event-check type="checkbox" 
            label.switcher-control for="invited-event-check"
              span I’m invited to an event

          .sub-category-checkbox

            .checkbox
              input#event-upcoming-check type="checkbox" 
              label.switcher-control for="event-upcoming-check"
                span Event is upcoming, and:

            .checkbox
              input#one-week-check type="checkbox" 
              label.switcher-control for="one-week-check"
                span 1 week left
            .checkbox
              input#three-days-check type="checkbox" 
              label.switcher-control for="three-days-check"
                span 3 days left
            .checkbox
              input#one-day-check type="checkbox" 
              label.switcher-control for="one-day-check"
                span 1 day left
            .checkbox
              input#one-hour-check type="checkbox" 
              label.switcher-control for="one-hour-check"
                span 1 hour left
            .checkbox
              input#once-per-day-check type="checkbox" 
              label.switcher-control for="once-per-day-check"
                span Once per day at 10 am


          .checkbox
            input#share-file-check type="checkbox" 
            label.switcher-control for="share-file-check"
              span Someone share a file/folder with me

          .checkbox
            input#invited-group-check type="checkbox" 
            label.switcher-control for="invited-group-check"
              span I’m invited to the is new group in chat 

          .checkbox
            input#add-conversation-check type="checkbox" 
            label.switcher-control for="add-conversation-check"
              span Someone mentioned me in the conversation
        
      
        .sweecher-box
          .line-separator.sm
          span I don’t want to recive notifications
          .sweecher.dib
    .medium-3.columns
      = render "account_menu"