.office-wrap.tabs-content
  .row
    .large-9.columns
      .head-hav-box
        .location-box.dib
          .sity.dib 
            | London
            = inline_svg "svg/ic_arrow_drop_down_black_24px.svg"
          .cuntry.dib
            = inline_svg "svg/office_life/flag-UK-01.svg"
            span United Kingdom

        .tabs-box.dib.tab-buttons
          .tab.active.tab-button.dib in the Office
          .tab.tab-button.dib Near the office
          .tab.tab-button.dib Transportation

        .drop-down-citys
          ul
            li.country-block
              .country United Kingdom
              .city.active London
              .city Liverpool
              .city Manchester
            li.country-block
              .country Belgium
              .city Brussels
              .city Ghent
            li.country-block
              .country Netherlands
              .city Amsterdam
            li.country-block
              .country Republic of Ireland
              .city Dublin
              .city Waterford
            li.country-block
              .country Germany
              .city Berlin
              .city Dortmund
              .city Munich
            
            







  .content-wrap.tab-content-wrapper
    .tab-content.active
      .row
        .columns.large-9
        
          .sweecher-box
            .sweecher
            
          .one-rule.shadow 
            a.link href=""
            .status
              .location-in-company.dib global
              .date.dib 30 oct 2017
            .title
              span.unpublished data-before="[unpublished]"
              |Keep noise and distractions to a minimum
              span.new new
              
            a.download-box
              .button
                span download
              .file-attributes PDF (90Kb)

          .one-rule.shadow 
            a.link href=""
            .status
              .location-in-company.dib global
              .date.dib 30 oct 2017
            .title
              |Keep noise and distractions to a minimum
              
            a.download-box
              .button
                span download
              .file-attributes PDF (90Kb)

          .one-rule.shadow 
            a.link href=""
            .status
              .location-in-company.dib global
              .date.dib 30 oct 2017
            .title
              |Keep noise and distractions to a minimum
              span.new new
              
            a.download-box
              .button
                span download
              .file-attributes PDF (90Kb)

      .pagination-container
        .prev-button.dib
          = inline_svg "svg/ic_keyboard_arrow_left_black_24px.svg"
          span.arrows prev
        span.pagination-tab.active 1
        span.pagination-tab 2
        span.pagination-tab 3
        span.pagination-tab 4
        span.dots ...
        span.pagination-tab 15
        .next-button.dib
          span.arrows next
          = inline_svg "svg/ic_keyboard_arrow_right_black_24px.svg"

    .tab-content
      .row
        .large-9.columns
          .tabs-content
            .row
              .large-3.medium-6.columns
                a.info-places-one href="/"
                  .img-box
                    .img-bg style="background-image: url(#{asset_path('photo/stuff-1.jpg')})"
                  .inner-content
                    .title Bars & Restaurant
                    .button.white-color
                      span see venues

                a.others-places-block.shadow href="/"
                  = inline_svg "svg/comment-icon"
                  .title Laundry Services
                  .button
                    span see shops

              .large-3.medium-6.columns
                a.info-places-one href="/"
                  .img-box
                    .img-bg style="background-image: url(#{asset_path('photo/stuff-1.jpg')})"
                  .inner-content
                    .title Coffee Shops & Tea Houses
                    .button.white-color
                      span see venues

                a.others-places-block.shadow href="/"
                  = inline_svg "svg/comment-icon"
                  .title Laundry Services
                  .button
                    span see shops

              .large-3.medium-6.columns
                a.info-places-one href="/"
                  .img-box
                    .img-bg style="background-image: url(#{asset_path('photo/stuff-1.jpg')})"
                  .inner-content
                    .title Entertainment
                    .button.white-color
                      span see venues

                a.others-places-block.shadow href="/"
                  = inline_svg "svg/comment-icon"
                  .title Laundry Services
                  .button
                    span see shops

              .large-3.medium-6.columns
                a.info-places-one href="/"
                  .img-box
                    .img-bg style="background-image: url(#{asset_path('photo/stuff-1.jpg')})"
                  .inner-content
                    .title Cultural Venues
                    .button.white-color
                      span see venues

                a.others-places-block.shadow href="/"
                  = inline_svg "svg/comment-icon"
                  .title Laundry Services
                  .button
                    span see shops

    
    
        

    .tab-content
      .row
        .large-9.columns
          .sweecher-box
            .sweecher

          .accordion-button
            = inline_svg "svg/office_life/domain.svg"
            span.name-block Offices
            span.number 4
            .line-whis-circle
              .circle
              .gradient-box

          .accordion-inner
            .row.columns-left
              .large-4.columns
                .transportation-one-block.shadow
                  .img-box
                    .img-bg style="background-image: url(#{asset_path('photo/photo-4.jpg')})"
                  .inner-content
                    .title Main office
                    p This is a fast growing office, whose employees have a diverse range of international experience, whose employees have a diverse range of international experience

                    .map-location
                      = inline_svg "svg/ic_location_on_black_24px.svg"
                      span Hartmann Rd, London E16 2PX, UK

                    .number
                      = inline_svg "svg/phone.svg"
                      span +44 20 7646 00000

                    .web
                      = inline_svg "svg/earth.svg"
                      a href="/" Carne.com

                    .button
                      span Get direction

              .large-4.columns
                .transportation-one-block.shadow
                  .img-box
                    .img-bg style="background-image: url(#{asset_path('photo/photo-4.jpg')})"
                  .inner-content
                    .title Main office Lviv
                    p This is a fast growing office, whose employees have a diverse range of international experience

                    .map-location
                      = inline_svg "svg/ic_location_on_black_24px.svg"
                      span Hartmann Rd, London E16 2PX, UK

                    .number
                      = inline_svg "svg/phone.svg"
                      span +44 20 7646 00000

                    / .web
                    /   = inline_svg "svg/earth.svg"
                    /   a href="/" Carne.com

                    .button
                      span Get direction

              .large-4.columns
                .transportation-one-block.shadow
                  .img-box
                    .img-bg style="background-image: url(#{asset_path('photo/photo-4.jpg')})"
                  .inner-content
                    .title
                      span.unpublished data-before="[unpublished]"
                      |Main office London
                    / p This is a fast growing office, whose employees have a diverse range of international experience

                    .map-location
                      = inline_svg "svg/ic_location_on_black_24px.svg"
                      span Hartmann Rd, London E16 2PX, UK

                    .number
                      = inline_svg "svg/phone.svg"
                      span +44 20 7646 00000

                    .web
                      = inline_svg "svg/earth.svg"
                      a href="/" Carne.com

                    .button
                      span Get direction


            

          .accordion-button
            = inline_svg "svg/office_life/ic_flight_black_24px.svg"
            span.name-block Airports
            span.number 7
            .line-whis-circle
              .circle

          .accordion-inner
            .row.columns-left
              .large-4.columns
                .transportation-one-block.shadow
                  .img-box
                    .img-bg style="background-image: url(#{asset_path('photo/photo-4.jpg')})"
                  .inner-content
                    .title Main office
                    p This is a fast growing office, whose employees have a diverse range of international experience

                    .map-location
                      = inline_svg "svg/ic_location_on_black_24px.svg"
                      span Hartmann Rd, London E16 2PX, UK

                    .number
                      = inline_svg "svg/phone.svg"
                      span +44 20 7646 00000

                    .web
                      = inline_svg "svg/earth.svg"
                      a href="/" Carne.com

                    .button
                      span Get direction

              .large-4.columns
                .transportation-one-block.shadow
                  .img-box
                    .img-bg style="background-image: url(#{asset_path('photo/photo-4.jpg')})"
                  .inner-content
                    .title Main office
                    p This is a fast growing office, whose employees have a diverse range of international experience

                    .map-location
                      = inline_svg "svg/ic_location_on_black_24px.svg"
                      span Hartmann Rd, London E16 2PX, UK

                    .number
                      = inline_svg "svg/phone.svg"
                      span +44 20 7646 00000

                    .web
                      = inline_svg "svg/earth.svg"
                      a href="/" Carne.com

                    .button
                      span Get direction

                    


          .accordion-button
            = inline_svg "svg/office_life/bus.svg"
            span.name-block Bus station
            span.number 2
            .line-whis-circle
              .circle

          .accordion-inner
            .row.columns-left
              .large-4.columns
                .transportation-one-block.shadow
                  .img-box
                    .img-bg style="background-image: url(#{asset_path('photo/photo-4.jpg')})"
                  .inner-content
                    .title Main office
                    p This is a fast growing office, whose employees have a diverse range of international experience

                    .map-location
                      = inline_svg "svg/ic_location_on_black_24px.svg"
                      span Hartmann Rd, London E16 2PX, UK

                    .number
                      = inline_svg "svg/phone.svg"
                      span +44 20 7646 00000

                    .web
                      = inline_svg "svg/earth.svg"
                      a href="/" Carne.com

                    .button
                      span Get direction

              

                    


          .accordion-button
            = inline_svg "svg/office_life/ic_train_black_24px.svg"
            span.name-block Railway stations
            span.number 4
            .line-whis-circle
              .circle

          .accordion-inner
            .row.columns-left
              .large-4.columns
                .transportation-one-block.shadow
                  .img-box
                    .img-bg style="background-image: url(#{asset_path('photo/photo-4.jpg')})"
                  .inner-content
                    .title Main office
                    p This is a fast growing office, whose employees have a diverse range of international experience

                    .map-location
                      = inline_svg "svg/ic_location_on_black_24px.svg"
                      span Hartmann Rd, London E16 2PX, UK

                    .number
                      = inline_svg "svg/phone.svg"
                      span +44 20 7646 00000

                    .web
                      = inline_svg "svg/earth.svg"
                      a href="/" Carne.com

                    .button
                      span Get direction

              

                    



          .accordion-button
            = inline_svg "svg/office_life/bus.svg"
            span.name-block Ports
            span.number 1
            .line-whis-circle
              .circle

          .accordion-inner
            .row.columns-left
              .large-4.columns
                .transportation-one-block.shadow
                  .img-box
                    .img-bg style="background-image: url(#{asset_path('photo/photo-4.jpg')})"
                  .inner-content
                    .title Main office
                    p This is a fast growing office, whose employees have a diverse range of international experience

                    .map-location
                      = inline_svg "svg/ic_location_on_black_24px.svg"
                      span Hartmann Rd, London E16 2PX, UK

                    .number
                      = inline_svg "svg/phone.svg"
                      span +44 20 7646 00000

                    .web
                      = inline_svg "svg/earth.svg"
                      a href="/" Carne.com

                    .button
                      span Get direction

              

                    


          .accordion-button
            = inline_svg "svg/office_life/taxi.svg"
            span.name-block taxi
            span.number 4
            .line-whis-circle
              .circle

          .accordion-inner
            .row.columns-left
              .large-4.columns
                .transportation-one-block.shadow
                  .img-box
                    .img-bg style="background-image: url(#{asset_path('photo/photo-4.jpg')})"
                  .inner-content
                    .title Main office
                    p This is a fast growing office, whose employees have a diverse range of international experience

                    .map-location
                      = inline_svg "svg/ic_location_on_black_24px.svg"
                      span Hartmann Rd, London E16 2PX, UK

                    .number
                      = inline_svg "svg/phone.svg"
                      span +44 20 7646 00000

                    .web
                      = inline_svg "svg/earth.svg"
                      a href="/" Carne.com

                    .button
                      span Get direction

              

                    