.account-office-wrap.tabs-content
  .row
    .medium-9.columns
      .account-content.shadow.no-hover
        .head-title Office life

        .tabs-box.dib.tab-buttons
          .tab.active.tab-button.dib Articles
          .tab.tab-button.dib Points of interest

        .content-wrap.tab-content-wrapper
          .tab-content.active
            table 
              tr
                th.no-margin
                  .title title
                th
                  .title date
                th
                  .title status
                th
                  .title.none info

              tr.content-table
                td 
                  .name 
                    span.name-event 
                      |Delivering accurate stats to Carne's other offices and departments inside Carne            
                td 
                  .date-time
                    = inline_svg "svg/clock.svg"
                    | 09 FEB 2017
                td 
                  .status.dib Publish

                  .sweecher.dib

                  .info.dib = inline_svg "svg/pencil.svg"

              tr.content-table
                td 
                  .name 
                    span.name-event 
                      |TED tals in London           
                td 
                  .date-time
                    = inline_svg "svg/clock.svg"
                    | 09 FEB (09:00 - 21:00)

                td 
                  .status.dib Publish

                  .sweecher.dib

                  .info.dib = inline_svg "svg/pencil.svg"

              tr.content-table
                td 
                  .name 
                    span.name-event 
                      |funds Congress 2018    
                td 
                  .date-time
                    = inline_svg "svg/clock.svg"
                    | 09 FEB (09:00 - 21:00)

                td 
                  .status.dib Publish

                  .sweecher.dib

                  .info.dib = inline_svg "svg/pencil.svg"

            .red-title Your drafts 


            table 
              tr
                th
                  .title title
                th
                  .title date
                th
                  .title.none status
                th
                  .title.none info


              tr.content-table 
                td 
                  .name 
                    span.name-event 
                      |Delivering accurate stats to Carne's Delivering accurate stats to Carne's      
           
                td 
                  .date-time
                    = inline_svg "svg/clock.svg"
                    | 09 FEB (09:00 - 21:00)

                td 
                  .button.light-grey
                    span delete
                  .info.dib = inline_svg "svg/pencil.svg"


              tr.content-table
                td 
                  .name 
                    span.name-event 
                      |Delivering accurate stats to Carne's            
                td 
                  .date-time
                    = inline_svg "svg/clock.svg"
                    | 09 FEB

                td 
                  .button.light-grey
                    span delete

                  .info.dib = inline_svg "svg/pencil.svg"

          .tab-content
            table.points-interest
              tr
                th
                  .title title
                th
                  .title city
                th
                  .title type
                th
                  .title statys


              tr.content-table 
                td 
                  .name 
                    .img.dib
                      img src="assets/photo/photo-1.jpg"
                    span.name-event 
                      |Delivering accurate stats to Carne's Delivering accurate s
           
                td 
                  .city London
                  

                td
                  .type Office


                td 
                  .status.dib Publish

                  .sweecher.dib

                  .info.dib = inline_svg "svg/pencil.svg"

              tr.content-table 
                td 
                  .name 
                    .img.dib
                      img src="assets/photo/photo-3.jpg"
                    span.name-event 
                      |Delivering tats to Carne's Delivering accurate s
           
                td 
                  .city London
                  

                td
                  .type Office


                td 
                  .status.dib Publish

                  .sweecher.dib

                  .info.dib = inline_svg "svg/pencil.svg"

              tr.content-table 
                td 
                  .name 
                    .img.dib
                      img src="assets/photo/photo-1.jpg"
                    span.name-event 
                      |Delivering accurate stats to Carne's Delivering accurate s
           
                td 
                  .city London
                  

                td
                  .type Office


                td 
                  .status.dib Publish

                  .sweecher.dib

                  .info.dib = inline_svg "svg/pencil.svg"

              tr.content-table 
                td 
                  .name 
                    .img.dib
                      img src="assets/photo/photo-3.jpg"
                    span.name-event 
                      |Delivering tats to Carne's Delivering accurate s
           
                td 
                  .city London
                  

                td
                  .type Office


                td 
                  .status.dib Publish

                  .sweecher.dib

                  .info.dib = inline_svg "svg/pencil.svg"


            .red-title Your drafts 


            table.points-interest
              tr
                th
                  .title title
                th
                  .title city
                th
                  .title date
                th
                  .title.none statys


              tr.content-table 
                td 
                  .name 
                    .img.dib
                      img src="assets/photo/photo-4.jpg"
                    span.name-event 
                      |Delivering accurate stats to Carne's Delivering accurate stats to Carne's      
           
                td 
                  .city London
                  

                td
                  .type Office

                td 
                  .button.light-grey
                    span delete
                  .info.dib = inline_svg "svg/pencil.svg"


              tr.content-table
                td 
                  .name 
                    .img.dib
                      img src="assets/photo/photo-1.jpg"
                    span.name-event 
                      |Delivering accurate stats to Carne's            
                td 
                  .city London
                  

                td
                  .type Office

                td 
                  .button.light-grey
                    span delete
                  .info.dib = inline_svg "svg/pencil.svg"


    .medium-3.columns
      = render "account_menu"