.password-email-wrap
  .row
    .medium-9.columns
      .account-content.shadow.no-hover
        .head-title Password
        form
          .input-account
            .title.dib Current Password
            input#current-password name="Current password" type="password" placeholder="Current Password"
          
          .input-account
            .title.dib New Password
            input#new-password name="New Password" type="password" placeholder="New Password"

          .input-account
            .title.dib Confirm Password
            input#confirm-password name="Confirm Password" type="password" placeholder="Confirm Password"

          button.button
            span Cange my password

      .account-content.shadow.no-hover
        .head-title Email
        form
          .input-account
            .title.dib Current Email
            input#current-email name="Current Email" placeholder="Current Email"
          
          .input-account
            .title.dib New Email
            input#new-email name="New Email" placeholder="New Email"

          .input-account
            .title.dib Confirm Email
            input#confirm-email name="Confirm Email" placeholder="Confirm Email"

          button.button
            span Cange my Email

    .medium-3.columns
      = render "account_menu"