.profile_settings-wrap
  .row
    .medium-9.columns
      .account-content.shadow.no-hover

        .head-title Profile settings
        form
          
          .input-account
            .title.dib First name
            input#first-name name="First name" placeholder="First name"
            / label first name
          
          .input-account
            .title.dib Second name
            input#second-name name="Second name" placeholder="Second name"
            / label first name

          .input-account
            .title.dib Your dirthday
            input#your-birthday name="Your dirthday" placeholder="Your dirthday"
            / label first name

          .input-account
            .title.dib Office location
            select placeholder=""
              option data-display="" Choose country
              option value="1" USA
              option value="2" Ukraine
              option value="1" Spain

            select placeholder=""
              option data-display="" Choose city
              option value="1" Lviv
              option value="2" Berlin
              option value="1" London

            select placeholder=""
              option data-display="" Office
              option value="1" General office
              option value="2" Pidval

          .input-account
            .title.dib Position
            select placeholder=""
              option data-display="" Choose position
              option value="1" Slave
              option value="2" Boss
              option value="3" Big boss
              option value="4" Maid
              option value="5" Boss maid

          .input-account
            .title.dib Depatment
            select placeholder=""
              option data-display="" Choose department
              option value="1" Department of customs
              option value="2" Police department
              option value="1" Department of depatment

          .input-account
            .title.dib Avatar
            .add-photo.dib
              .person
                = inline_svg "svg/account.svg"
              .button
                span upload
              .format-photo
                p 400KB max
                p Recommended size: 400x400px

          / button.button upload

    .medium-3.columns
      = render "account_menu"
