.team-wrap
  .row
    .columns.large-9
      table 
        tr
          th
            .title name
          th
            .title position
          th
            .title department
          th
            .title city
          th
            .title activity
          th
            .title.none activity

        tr
          td 
            .name 
              |Steve Bernart
              .img-person
                img src="assets/photo/stuff-7.jpg"
          td 
            .position Chief Big Boss PH
          td 
            .department General 
          td 
            .city
              = inline_svg "svg/office_life/flag-UK-01.svg"
              | Berlin
          td 
            .activity 
              / span.online active now
              span.status 
                = inline_svg "svg/clock.svg"
                |10 days ago
          td 
            .svg-box 
              = inline_svg "svg/email.svg"
              = inline_svg "svg/comment-icon.svg"
              

        tr
          td 
            .name 
              |Steve Bernart
              .img-person
                img src="assets/photo/stuff-7.jpg"
          td 
            .position Chief Big Boss PH
          td 
            .department Generalisimus
          td 
            .city
              = inline_svg "svg/office_life/flag-UK-01.svg"
              | Berlin
          td 
            .activity 
              span.online active now
              / span.status 10 days ago
          td 
            .svg-box 
              = inline_svg "svg/email.svg"
              = inline_svg "svg/comment-icon.svg"
              

        tr
          td 
            .name 
              |Steve Bernart
              .img-person
                img src="assets/photo/stuff-7.jpg"
          td 
            .position Chief Big Boss PH
          td 
            .department General Generalisimus
          td 
            .city
              = inline_svg "svg/office_life/flag-UK-01.svg"
              | Berlin
          td 
            .activity 
              span.online active now
              / span.status 10 days ago
          td 
            .svg-box 
              = inline_svg "svg/email.svg"
              = inline_svg "svg/comment-icon.svg"
              

        tr
          td 
            .name 
              |Steve Bernart
              .img-person
                img src="assets/photo/stuff-7.jpg"
          td 
            .position Chief Big Boss PH
          td 
            .department General Generalisimus
          td 
            .city
              = inline_svg "svg/office_life/flag-UK-01.svg"
              | Berlin
          td 
            .activity 
              span.online active now
              / span.status 10 days ago
          td 
            .svg-box 
              = inline_svg "svg/email.svg"
              = inline_svg "svg/comment-icon.svg"
              