.my-updates-wrap
  .row
    .medium-9.columns
      .account-content.shadow.no-hover
        .head-title Your updates

        table 
          tr
            th
              .title title
            th
              .title date
            th
              .title status
            th
              .title.none info

          tr.content-table
            td 
              .name 
                .img.dib
                  img src="assets/photo/photo-1.jpg"
                span.name-event 
                  |How to improve reports inside Carne offices
                  span new              
            td 
              .date-time
                = inline_svg "svg/clock.svg"
                | 09 FEB 2017

            td 
              .status.dib Publish

              .sweecher.dib data-btn-attr="error-massage"

              .delete-popup.dib data-btn-attr="delete-massage" = inline_svg "svg/ic_delete_black_24px.svg"

              .info.dib = inline_svg "svg/pencil.svg"


          tr.content-table
              td 
                .name 
                  .img.dib
                    / img src="assets/photo/photo-3.jpg"
                  span.name-event 
                    |Delivering accurate stats to Carne's other offices and departments inside Carne            
              td 
                .date-time
                  = inline_svg "svg/clock.svg"
                  | 09 FEB 2017

              td 
                .status.dib Publish

                .sweecher.dib data-btn-attr="error-massage"

                .delete-popup.dib data-btn-attr="delete-massage" = inline_svg "svg/ic_delete_black_24px.svg"

                .info.dib = inline_svg "svg/pencil.svg"

          tr.content-table
              td 
                .name 
                  .img.dib
                    img src="assets/photo/photo-4.jpg"
                  span.name-event 
                    |Delivering accurate stats to Carne's other offices and departments inside Carne            
              td 
                .date-time
                  = inline_svg "svg/clock.svg"
                  | 09 FEB (09:00 - 21:00)

              td 
                .status.dib Publish

                .sweecher.dib data-btn-attr="error-massage"

                .delete-popup.dib data-btn-attr="delete-massage" = inline_svg "svg/ic_delete_black_24px.svg"

                .info.dib = inline_svg "svg/pencil.svg"


          tr.content-table 
            td 
              .name 
                .img
                  / img src="assets/photo/photo-3.jpg"
                / span.name-evnt 
                /   |Delivering accurate stats to Carne's other offices and departments inside Carne            
            td 
              .date-time
                = inline_svg "svg/clock.svg"
                | 09 FEB (09:00 - 21:00)

            
            td 
              .status.dib Publish

              .sweecher.dib.disabled data-btn-attr="error-massage"

              .delete-popup.dib data-btn-attr="delete-massage" = inline_svg "svg/ic_delete_black_24px.svg"

              .info.dib = inline_svg "svg/pencil.svg"


          tr.content-table
            td 
              .name 
                .img.dib
                  img src="assets/photo/photo-4.jpg"
                span.name-event 
                  |Delivering accurate stats to Carne's            
            td 
              .date-time
                = inline_svg "svg/clock.svg"
                | 09 FEB

              
            td 
              .status.dib Publish

              .sweecher.dib data-btn-attr="error-massage"

              .delete-popup.dib data-btn-attr="delete-massage" = inline_svg "svg/ic_delete_black_24px.svg"

              .info.dib = inline_svg "svg/pencil.svg"

    .medium-3.columns
      = render "account_menu"