.row
  .columns.large-9

    .grid

      a.grid-item.full-bg.shadow href=article_one_path
        .img-box
          .img-bg style="background-image: url(#{asset_path('photo/stuff-2.jpg')})"
        .inner-content.white-content
          .h6 How to improve reportsinside Carne offices
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas fuga dolorem voluptatum ratione commodi optio facilis velit tempora dolores atque aliquam veniam dolor modi eligendi odio, debitis, dicta, molestiae?
          .button.white-color 
            span read more
          .date 30 oct 2017

        .location-in-company global
        .info-chat 
          span 12
          = inline_svg "svg/comment-icon.svg"

      a.grid-item.bg-half.shadow href=article_one_path
        .img-box
          .img-bg style="background-image: url(#{asset_path('photo/photo-2.jpg')})"
        .inner-content
          .h6 How to improve reportsinside Carne offices
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas fuga dolorem voluptatum ratione commodi optio facilis velit tempora dolores atque aliquam veniam dolor modi eligendi odio, debitis, dicta, molestiae?
          .button 
            span read more
          .date 30 oct 2017

        .location-in-company global
        .info-chat 
          span 12
          = inline_svg "svg/comment-icon.svg"
          

      a.grid-item.bg-white.shadow href=article_one_path
        .img-box
          .img-bg style="background-image: url(#{asset_path('photo/photo-4.jpg')})"
        .inner-content
          .h4 Changing the rule when it comes to addressing client problems
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas fuga dolorem voluptatum ratione commodi optio facilis velit tempora dolores atque aliquam veniam dolor modi eligendi odio, debitis, dicta, molestiae?
          .button 
            span read more
          .date 30 oct 2017
        .location-in-company global 
        .info-chat.black
          span 12
          = inline_svg "svg/comment-icon.svg"

      a.grid-item.bg-blue.shadow href=article_one_path
        .img-box
          .img-bg style="background-image: url(#{asset_path('photo/stuff-1.jpg')})"
        .inner-content.white-content
          .h6 Delivering accurate stats to Carne`s other offices and departments inside Carne
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptas fuga dolorem voluptatum ratione commodi optio facilis velit tempora dolores atque aliquam veniam dolor modi eligendi odio, debitis, dicta, molestiae?
          .button.white-color  
            span read more
          .date 30 oct 2017

        .location-in-company.white global
        .info-chat 
          span 12
          = inline_svg "svg/comment-icon.svg"


   