.profile_settings-wrap, .password-email-wrap, .notification-wrap, .my-events-wrap, .my-updates-wrap, .account-office-wrap
  .account-content
    padding: 40px
    margin-bottom: 20px

    .head-title
      font-size: 21px
      font-weight: 700
      margin-bottom: 20px

    .title-info
      font-size: 14px
      // font-weight: 700
      margin-bottom: 20px

    .red-title
      font-size: 18px
      color: red
      margin: 50px 0 20px

    .tabs-box
      width: 100%
      border-bottom: 1px solid $grey300
      padding-bottom: 30px
      .tab
        width: 50%
        text-align: center

    .content-wrap
      margin-top: 70px
      .tab-content
        display: none
        &.active
          display: block


    form
      .input-account
        padding-left: 120px
        margin-bottom: 30px
        .title
          position: absolute
          top: 15px
          left: 0
          font-weight: 700

        input
          display: inline-block
          padding: 10px
        
        .add-photo
          .person
            border-radius: 50%
            border: 1px solid $grey300
            height: 80px
            width: 80px
            margin-bottom: 10px
            position: relative
            cursor: pointer
            svg
              +xy-align
              height: 50px
              width: 80px
              fill: $grey300
          .button
          .format-photo
            vertical-align: medium
            display: inline-block
            margin-left: 10px
            p 
              font-size: 10px
              padding-bottom: 5px

    .cheak-box-container 
      .checkbox
        margin-bottom: 20px
        height: 25px

      .sub-category-checkbox
        margin-left: 50px
        .checkbox
          margin-left: 50px
          &:first-child
            margin-left: 0

    .sweecher-box
      padding-top: 20px
      text-align: right
      .sweecher
      span
        color: $grey300
        margin-right: 10px

    table
      tr
        th
          &.no-margin
            &:first-child
              .title
                margin-left: 0
          &:first-child
            .title
              margin-left: 105px
      .content-table
        +transition(.3s)
        height: 73px
        &:hover
          +hover-patern
          .info
            svg
              fill: black
          .delete-popup
            opacity: 1
          .button
            border: 1px solid red
            span
              color: red
      td
        // padding: 25px 0 
        cursor: pointer
        position: relative
        &:first-child
          width: 50%
        &:nth-child(2)
          width: 30%
        &:nth-child(3)
          width: 10%
        &:nth-child(4)
          width: 10%
      

        .name 
         
          // position: relative
          .img
            // margin-right: 20px
            // position: absolute
            // top: 5px
            // left: 2px
            img
              width: 100px
              height: 70px
              padding: 5px
          .name-event 
            font-size: 14px
            font-weight: 700
            // width: 70%
            +y-align
            span
              color: $blue
              font-weight: 300
              margin-left: 10px

        .date-time, .status, .city, .type
          font-size: 12px
          color: rgba(black, 0.5)
          font-weight: 300
          svg
            width: 12px
            height: 12px
            margin-right: 5px
            vertical-align: baseline
            font-size: 10px
            *
              fill: rgba(black, 0.5)

        .location-in-company
          display: inline-block

        .info
          float: right
          svg
            fill: rgba(black, 0.3)

        .delete-popup
          margin-right: 20px
          opacity: 0
          cursor: pointer

        .button
          margin-right: 23px

  .account-menu
    li
      margin-bottom: 20px
      svg
        width: 20px
        height: 20px
        margin-right: 20px
        fill: $grey300
        vertical-align: text-bottom
      a
        font-size: 14px  

      &.active
        svg
          fill: black

        a
          font-weight: 700

      &:last-child
        margin-top: 25px
        padding-top: 25px
        border-top: 1px solid $grey300
        

.password-email-wrap
  .account-content
    form
      .input-account
        padding-left: 150px


.my-updates-wrap, .account-office-wrap
  .account-content
    table
      td
        &:first-child
          padding-right: 20px
        &:last-child
          width: 20%
          // text-align: right
          .info 
            vertical-align: middle
            svg
              fill: rgba(black, 0.3)

        .sweecher
          margin: 0 20px
        
        +breakpoint(xxlarge only)
          &:first-child
            width: 55%
          &:last-child
            width: 15%
            text-align: right

.my-updates-wrap
  .account-content
    table
      td
        &:nth-child(2)
          width: 25%
        &:last-child
          width: 27%

.account-office-wrap
  .account-content
    table.points-interest
      td
        &:nth-child(2)
          width: 15%