html
  height: 100%
body
  min-height: 100%
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  flex-direction: column
  background: white
  font-family: 'Muli', sans-serif
  .main-wrapper
    flex: 1
    margin-top: 50px
    +breakpoint(xlarge down)
      margin-left: 245px
  &.opened-popup
    overflow: hidden
    +transition(.3s)
    &:before
      content: ""
      +fullsize
      background-color: rgba(black, 0.8)
      z-index: 1000

@each $header, $font-size in (h1: 48px, h2: 40px, h3: 32px, h4: 24px, h5: 18px, h6: 16px)
  #{$header}, .#{$header}
    font-size: $font-size

.small
  font-size: 0.75rem
.smaller
  font-size: 0.875rem
.regular
  font-size: 1rem
.larger
  font-size: 1.125rem
.larges
  font-size: 1.25rem