.sign-general-form
  max-width: 500px
  width: 100%
  margin: 100px auto
  .sign-in, .forgot-passwrd
    &.disn
      display: none
    .head-title
      font-size: 24px
      font-weight: 700
      margin-bottom: 30px
      &.sm
        margin-bottom: 10px
    .sub-title
      font-size: 14px
      padding-bottom: 30px
      font-weight: 600
    .input-field
      margin-bottom: 25px
      position: relative
      &:nth-child(3)
        margin-bottom: 10px
      .title
        +y-align
        left: -120px
        font-size: 16px
        font-weight: 700
        margin-right: 50px
    .forgot-passwrd-button
      font-size: 8px
      text-transform: uppercase
      color: $blue
      text-align: right
      cursor: pointer
      font-weight: 700
    .button
      margin-top: 20px
      padding: 10px 45px
      border-radius: 10px
      span
        font-size: 12px

.forgot-passwrd
  display: none
  &.visible
    display: block



.article-one-wrap
  
  .img-container
    margin-bottom: 30px

  h1, h2, h3, h4, h5, h6
    margin-bottom: 30px

  h2
    font-weight: 900

  p
    margin-bottom: 30px
    span
      color: $blue
      font-weight: 500

  p + h4,
  p + h5,
  p + h6
    margin-top: 60px

  


  blockquote
    padding: 20px 10px
    p, .position-name
      padding-left: 100px
    p
      font-size: 36px
      font-weight: 300
      position: relative
      &:before
        content: "''"
        position: absolute
        left: 0
        top: 0
        color: $blue
        font-size: 125px
        font-weight: 900
        line-height: 0.8

    .name
      font-weight: 600
      padding-top: 20px
      position: relative
      margin-left: 100px
      &:before
        content: ""
        position: absolute
        top: 0
        left: 0
        height: 1px
        width: 60px
        background: $grey300


  +breakpoint(small only)
    h2
      font-size: 28px
    blockquote
      padding: 0 0 20px 0
      p, .position-name
        padding-left: 55px
      p
        font-size: 24px
        &:before
          font-size: 85px
      .name
        margin-left: 55px


  .person-block
    padding: 20px
    margin-bottom: 50px
    .avatar
      width: 60px
      height: 60px
      position: relative
      margin-bottom: 5px
      .img-bg
        border-radius: 50%

    .name
      font-weight: 600
      font-size: 18px

    .date, .plase, .category
      font-size: 10px
      font-weight: 600
      margin-bottom: 10px
      span
        font-weight: 400
        margin-left: 5px
      a
        color: $blue
        margin-left: 5px
    
    .svg-box
      margin-top: 40px
      svg
        width: 20px
        height: 20px
        margin-right: 10px

  .updates-new-wrap
    .name-block
      font-size: 8px
      text-align: center
      text-transform: uppercase
      margin-bottom: 15px
    .updates-box
      padding: 20px 0
      .one-update
        padding: 20px 30px
        display: block
        position: relative
        &:before
          content: ""
          position: absolute
          bottom: 0
          left: 30px
          width: 80%
          height: 1px
          background: $grey300
        &:last-child
          &:before
            display: none

        .title
          font-size: 13px
          margin-bottom: 5px
          font-weight: 700
        
        &:hover
          +hover-patern
          &:before
            opacity: 0

// O F F I C E    W R A P 

.office-wrap
  .head-hav-box
    position: relative
    margin-bottom: 20px
    // padding-bottom: 20px
    border-bottom: 1px solid $grey300
    .location-box
      cursor: pointer
      padding: 5px 0 20px 
      &.active
        +hover-patern
      .sity
        font-size: 36px
        font-weight: 200
        margin-right: 35px
        svg
          width: 20px
          height: 20px
          margin-left: 5px
      .cuntry
        svg
          width: 15px
          height: 15px
          vertical-align: middle
          + span
            vertical-align: middle
            font-size: 10px
            font-weight: 600

    .tabs-box
      position: absolute
      right: 0
      top: 50%
      +translate(0,-100%)
      .tab
        margin-left: 30px
      

    .drop-down-citys
      background-color: rgba(black, 0.95)
      position: absolute
      opacity: 0
      top: 55px
      z-index: 10
      width: 450px
      max-width: 100%
      padding: 30px
      +transition(.3s)
      &.visible
        opacity: 1
      .country-block
        display: inline-block
        color: white
        font-size: 13px
        width: 50%
        padding-bottom: 15px
        margin-bottom: 20px
        vertical-align: top
        position: relative
        &:after
          content: ""
          position: absolute
          bottom: -5px
          left: 0
          background-color: #202020
          height: 1px
          width: 90%
          display: block
        
        .country
          font-weight: 800
          margin-bottom: 10px
          text-transform: uppercase
        .city
          font-weight: 400
          margin-bottom: 10px
          cursor: pointer
          position: relative
          &:after
            content: ""
            background-image: url(#{asset_path('svg/done.svg')})
            position: absolute
            display: none
            margin-left: 10px
            background-size: contain
            background-repeat: no-repeat
            background-position: center
            width: 18px
            height: 18px
            top: -2px
            
          &.active
            &:after
              display: inline-block
        
        &.last
          &:last-child
            &:after
              display: none
        &.two-last
          &:last-child, &:nth-last-child(2)
            &:after
              display: none

      +breakpoint(small only)
        .country-block
          width: 100%

  .tab-content
    display: none
    &.active
      display: block
    .sweecher-box
      position: relative
      width: 100%
      height: 40px
      margin-bottom: 20px
      .sweecher
        position: absolute
        right: 0
        &:after
          content: "Show unpublished"
          width: 115px
          color: $grey300
          display: inline-block
          font-size: 12px
          +translate(-100%, -20%)


    /// T R A N S P O R T A T I O N 


    .accordion-button
      margin: 50px 0 10px
      padding: 10px 0
      position: relative
      cursor: pointer
      &.opened
        .line-whis-circle
          .circle
            &:after
              display: none
      &:first-child
        margin: 0 0 30px 0
      svg
        width: 20px
        height: 20px
        vertical-align: middle
      span.name-block
        font-weight: 700
        vertical-align: middle
      
      
      .line-whis-circle
        width: 100%
        z-index: -1
        height: 1px
        background: $grey300
        position: absolute
        top: 28px
        &:before
          content: ""
          +fullsize
          background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%)
          background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
          background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 )
        .circle
          width: 25px 
          height: 25px
          position: absolute
          right: 10px
          top: 50%
          +translate(0,-50%)
          border-radius: 50%
          border: 1px solid $grey300
          background-color: white

          &:before, &:after
            content: ""
            background-color: $grey300
            +xy-align

          &:before
            width: 12px
            height: 1px
          
          &:after
            width: 1px
            height: 12px
            display: block


    .accordion-inner
      display: none
      .transportation-one-block
        cursor: pointer
        .img-box
          padding-bottom: 70%
        .inner-content
          padding: 20px 20px 90px 20px
          position: relative
          .title
            font-size: 20px
            font-weight: 700
            padding-bottom: 10px
            + p 
              font-size: 12px
              font-weight: 300
              position: relative
              margin-bottom: 20px
              
          .map-location
            position: relative
            &:before
              content: ''
              position: absolute
              display: block
              width: 100%
              height: 1px
              top: -10px
              background: $grey300

          .map-location, .number, .web
            margin: 10px 0
            svg
              width: 20px
              height: 20px
              vertical-align: middle
            span, a
              font-size: 12px
              font-weight: 300
              vertical-align: middle
              margin-left: 5px
            a
              color: $blue

          .button
            margin-top: 30px
            position: absolute
            right: 20px

  .info-places-one
    position: relative
    display: block
    +transition(.5s)
    .img-box
      position: relative
      padding-bottom: 150%
      overflow: hidden

    .inner-content
      position: absolute
      width: 100%
      padding-left: 30px
      bottom: 30px
      right: 10px
      .title
        margin-bottom: 15px
        font-size: 24px
        font-weight: 300
        color: white
    &:hover
      .img-bg
        +scale(1.2)

  .others-places-block
    display: block
    margin-top: 10px
    padding: 20px
    svg
      width: 50px
      height: 50px
      margin-bottom: 30px
      g, path
        fill: $blue

    .title
      margin-bottom: 15px
      font-size: 24px
      font-weight: 300
      color: black

  .one-rule
    padding: 20px 30px
    display: block
    position: relative
    margin-bottom: 20px
    a.link
      position: absolute
      width: 100%
      height: 100%
      cursor: pointer
    .status
      margin-bottom: 10px
      .location-in-company
        margin-right: 10px
    .title 
      font-size: 24px
      font-weight: 800
      span.new
        font-size: 10px
        text-transform: uppercase
        color: $blue
        vertical-align: middle
        font-weight: 300
        margin-left: 10px

    .download-box
      position: absolute
      top: calc(50% + 8px)
      right: 30px
      +translate(0,-50%)

  .pagination-container
    text-align: center
    margin-top: 100px


          
///         T E A M    W R A P


.team-wrap
  table
    padding-left: 100px
    td
      cursor: pointer
      position: relative
      text-align: left
      padding: 17px 0
      
      &:first-child
        width: 23%
        // text-align: center
      &:nth-child(2)
        width: 20%
      &:nth-child(3)
        width: 15%
        // text-align: center
      &:nth-child(n+4)
        // text-align: right
        width: 12%
      .name
        font-size: 12px
        font-weight: 800
        position: relative
        .img-person
          img
            width: 40px
            height: 40px
            +y-align
            left: -60px
      
      .position, .city
        font-size: 10px
        vertical-align: middle
        svg
          width: 20px
          height: 20px
          vertical-align: middle
          margin-right: 5px

      .position
        font-weight: 600

      .department 
        font-size: 10px
        background-color: #94d9f6
        border-radius: 10px
        padding: 2px 12px
        margin-right: 30px
        display: inline-block

      .activity 
        font-size: 10px

        span
          font-size: 10px
          vertical-align: middle
          color: #a7a7a7
          svg
            width: 10px
            height: 10px
            margin-right: 6px
            vertical-align: initial
            *
              fill: #a7a7a7

        span.online
          &:before
            content: ""
            position: relative
            display: inline-block
            background-color: #35d472
            border-radius: 50%
            top: -1px
            width: 8px
            height: 8px
            margin-right: 10px
            vertical-align: middle

      .svg-box 
        svg
          width: 15px
          height: 15px
          margin-right: 20px
          fill: $dark-grey
          *
            stroke: $dark-grey



///        A G E N D A    P A G E 


.agenda-wrap
  .calendar-box
    max-width: 550px 
    position: relative
    margin: 50px auto



  .tabs-box
    width: 100%
    position: relative
    border-bottom: 1px solid $grey300
    padding-bottom: 30px
    .tab
      width: 50%
      text-align: center

  .content-wrap
    .tab-content
      padding-top: 15px
      display: none
      .title
        font-size: 8px
        text-transform: uppercase
        margin: 15px 0
        text-align: center
      &.active
        display: block
      .one-event-box
        margin-bottom: 20px
        .img-box
          position: relative
          padding-bottom: 40%
      
          .status-box
            position: absolute
            top: 20px
            left: 20px
            right: 20px
            .location-in-company
              font-size: 8px

            .coment-svg-box
              float: right
              span
                font-size: 8px
                font-weight: 700
                margin-right: 5px
                color: white
                vertical-align: super
              svg
                width: 15px
                height: 15px
                fill: white

        .inner-content
          position: relative
          .name-event
            font-size: 24px
            font-weight: 300
            border-bottom: 1px solid $grey300
            text-align: center
            padding: 20px 0
            position: relative
            cursor: pointer
            
            svg
              +transition(.3s)
              width: 33px
              height: 33px  
              +y-align
              right: 20px
            &.opened
              svg
                transform: rotate(180deg) translate(0, 50%)
          .info-box
            position: relative
            &:before
              content: ""
              width: 1px
              height: 100%
              +x-align
              background-color: $grey300
              display: block
            .when, .where
              position: relative
              width: calc(50% - 100px)
              display: inline-block
              margin: 15px 50px
              .time
                font-size: 20px
                padding-bottom: 5px
              .date
                font-size: 10px

            .where
              font-size: 10px
              
            .svg-box
              +y-align
              left: -32px
              svg
                width: 20px
                height: 20px
                *
                  fill: $blue

          .short-info-event
            display: block
            border-top: 1px solid $grey300
            display: none
            &.visible
              display: block
            .invide, .attending
              width: 50%
              display: inline-block
              padding: 15px 30px
              .sub-title
                text-transform: uppercase
                font-size: 8px
                padding-bottom: 10px
                font-weight: 700
              .content
                img
                  width: 24px
                  height: 24px
                  border-radius: 50%
                  margin-right: 10px
                  display: inline-block
                span
                  vertical-align: middle
                  font-size: 10px
                  font-weight: 700

            .description
              border-top: 1px solid $grey300
              padding: 30px 
              position: relative
              p
                text-align: center
                margin: auto 50px
                padding-bottom: 50px 
                font-size: 12px
              .button
                +x-align
                +translate(-50%,-100%)

      .birthdays-box
        .one-birthday
          margin-bottom: 10px
          padding: 20px

        .name
          font-size: 18px
          font-weight: 700
          .location-in-company
            font-size: 8px
            margin-left: 5px
        .position
          font-size: 10px
        .years-box
          font-size: 10px
          margin-bottom: 5px
          .years
            font-size: 14px
            font-weight: 700
            color: $blue
            span
              font-weight: 400
              margin-left: 5px
              
        .button
          float: right
          padding: 5px 10px


///        D A S H B O A R D

.dashboard-page
  .activity-feed-box
    position: relative
    background-color: #f5f5f5
    padding: 30px 20px
    .title
      font-size: 14px
      font-weight: 700
      margin-bottom: 20px
    
    .activity-filters-button
      position: absolute
      top: 30px
      right: 20px
      cursor: pointer

    .drop-down-filter-activity
      padding: 20px
      background-color: black
      z-index: 100
      position: absolute
      left: 0
      right: 0
      opacity: 0
      pointer-events: none
      +transition(.3s)
      &.visible
        opacity: 1
        pointer-events: initial

      .title
        font-size: 18px
        color: white

      .checkbox
        position: relative
        height: 40px
        label
          position: absolute
          // right: 0
          span
            position: relative
            color: white
            // left: -70px
            right: initial

    .one-activity-box, .one-activity-remember-box
      padding: 10px 20px
      background-color: white
      margin-bottom: 10px
      .head-box
        padding-bottom: 10px
        position: relative
        .img-box
          margin-right: 10px
          img
            height: 32px
            width: 32px
            border-radius: 50%
        .name-box
          .name
          .position
            font-size: 10px
            color: #c8c8c8
            margin-top: 5px
      
      .line-separator
        margin: 10px 0

      .text-box
        p
          padding-bottom: 25px
          margin-top: 10px
          font-size: 12px
          line-height: 1.5
          font-weight: 700
        // span
        a 
          color: $blue
          margin-left: 5px
          font-weight: 400
        &.white
          p 
            color: black
          a
            color: white

      .time-post
        font-size: 10px
        color: #c3c3c3
        float: right
        &.black
          color: black

    .one-activity-remember-box
      background-color: $blue
      .img-box
        position: absolute
        left: 0
        top: 0
      .text-box
        margin-left: 50px
        p
          padding-bottom: 15px
          line-height: 1.5
          font-size: 12px


