.row.columns-left
  .columns
    float: left !important

.dib
  display: inline-block
  vertical-align: middle
  line-height: 1

.clearfix
  position: relative
  +clearfix
  .floated
    float: left
  .floated-right
    float: right

.float-right
  +breakpoint(medium up)
    float: right !important
.float-left
  +breakpoint(medium up)
    float: left !important

.mobile
  +breakpoint(medium up)
    display: none
.desktop
  +breakpoint(small only)
    display: none

.valn
  vertical-align: middle

.img-container
  position: relative
  width: 100%
  height: 0
  padding-bottom: 56%
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  overflow: hidden

.img-bg
  position: absolute
  +fullsize
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  +transition(1s)

.lightened
  +grayscale
  background-color: rgba(255,255,255,0.75)
  background-blend-mode: lighten

.darken
  +grayscale
  background-color: rgba(0,0,0,0.25)
  background-blend-mode: darken

.shadow
  box-shadow: 0 0 10px rgba(0,0,0,0.1)
  +transition(.3s)
  &.no-hover
    &:hover
      box-shadow: 0 0 10px rgba(0,0,0,0.1)
  &:hover
    box-shadow: 0 4px 10px 0 rgba(10,93,171,0.35)
.img-box
  position: relative

.button 
  border: 1px solid black
  border-radius: 5px
  display: inline-block
  padding: 5px 25px
  cursor: pointer
  +transition(.5s)
  span
    font-size: 10px
    font-weight: 800
    text-align: center
    text-transform: uppercase
    vertical-align: middle
  svg
    margin-right: 5px
    width: 15px
    height: 15px
    vertical-align: middle

  &.white-color
    border: 1px solid white
    span
      color: white
    svg
      paht, g
        fill: white

  &.light-grey
    border: 1px solid rgba(black, 0.3)
    span
      color: rgba(black, 0.3)


  &:hover
    background-color: black
    span
      color: white
    svg
      path, g
        fill: white

    &.white-color
      background-color: white
      span
        color: black
      svg
        path, g
          fill: black

    &.light-grey
      background-color: initial
      span
        color: initial

.location-in-company
  font-size: 10px
  text-transform: uppercase
  background-color: $blue
  padding: 3px 10px
  border-radius: 10px
  color: white
  &.white
    background-color: $white
    color: black

.date
  font-size: 10px
  color: $grey600
  text-transform: uppercase

.file-attributes
  font-size: 10px
  text-align: center
  margin-top: 5px
  color: $grey300

span.unpublished
  &:before
    content: attr(data-before)
    color: red
    font-weight: 300
    margin-right: 10px

.sweecher
  width: 32px
  height: 15px
  background-color: $grey300
  border-radius: 10px
  cursor: pointer
  position: relative
  margin: 20px 0
  +transition(.5s)
  &:before
    content: ""
    position: absolute
    left: 0
    top: 50%
    +translate(0,-50%)
    background-color: white
    height: 20px
    width: 20px
    border-radius: 50%
    box-shadow: 0 0 2px rgba(0,0,0,0.25)
    +transition(.5s)
  &.active
    background-color: #29b4ee
    &:before
      left: initial
      right: 0
      background-color: $blue