.account-menu
  ul
    li.active
      = inline_svg "svg/account.svg"
      a href=profile_settings_path Profile settings
    li 
      = inline_svg "svg/email.svg"
      a href=password_account_path Password / E-mail
    li 
      = inline_svg "svg/ic_notifications_none_black_24px.svg"
      a href=notification_account_path Notification
    li 
      = inline_svg "svg/ic_date_range_black_24px.svg"
      a href=events_account_path My events
    li 
      = inline_svg "svg/ic_insert_drive_file_black_24px.svg"
      a href=updates_account_path Updates
    li 
      = inline_svg "svg/office_life/domain.svg"
      a href=office_life_account_path Office life
    li 
      = inline_svg "svg/ic_exit_to_app_black_24px.svg"
      a href="/" Sign out