.allerts-popup.shadow.no-hover data-popup-attr="error-massage"
  .title.red
    = inline_svg "svg/close.svg"
    |Error acured!

  p You can`t publish this update since it`s not fully completed. Please complite update to publish it.

  .button-box
    .button.left.dib.delete-tr
      span delete

    .button.dib.close-popup
      span cancel

    .button.dib
      span edit update


.allerts-popup.shadow.no-hover  data-popup-attr="delete-massage"
  .title Delete update?

  p Are you sure you want to delete "Appreceation fo divrcity" update permanentuy?

  .button-box

    .button.dib.close-popup
      span cancel

    .button.dib.delete-tr
      span delete
