.general-menu-box class=("disn" if @index)
  ul.general-menu
    li 
      a href=dashboard_page_path Dashboard
    li
      a href=updates_page_path Updates
    li.active
      a href=teem_page_path Team
    li 
      a href=agenda_path Agenda
    li 
      a href=office_life_page_path Office Life
    li 
      a href="" Resouces

  ul.additional-menu
    li.have-masages
      a href="" Chat
      span 12
      
    li 
      a href=profile_settings_path My Account
