.header-container
  a.logo-box.dib href=root_path
    = inline_svg "svg/carn-ic-logo-1.svg"
  .header-body.dib
    .input-serch-header
      input#header-serch name="header-serch"
      label
        = inline_svg "svg/magnify.svg" 
        |I search for

      // results when you serch something

        .results-box 77 results
        
      .close-button = inline_svg "svg/close.svg"

    .one-page class=("disb" if @index)
      .return-page.disn
        = inline_svg "svg/ic_arrow_back_black_24px.svg"
        | Sign in

    .one-page class=("disb" if @dashboard_page)

      .name-page Dashboard
      .drop-down-box
        .title.dib show:
        .one-drop-down.dib
          select.select-header placeholder=""
            option data-display="" all
            option value="1" Events
            option value="2" Birthdays
            option value="1" Events
            option value="2" Birthdays
            option value="1" Events
            option value="2" Birthdays
            option value="1" Events
            option value="2" Birthdays
      .right-box
        .search-box.search-button = inline_svg "svg/magnify.svg"



    .one-page class=("disb" if @article_one_page)
      .name-page Updates

    .one-page class=("disb" if @updates_page)
      .name-page Updates
      .drop-down-box.dib
        .title.dib show:
        .one-drop-down.dib
          select.select-header placeholder=""
            option data-display="" all
            option value="1" Events
            option value="2" Birthdays
            option value="1" Events

        .title.dib tag:
        .one-drop-down.dib
          select.select-header placeholder=""
            option data-display="" all
            option value="1" busines
            option value="2" global
            option value="1" Events

      .right-box
        .search-box.search-button.dib = inline_svg "svg/magnify.svg"
        .button.white-color.dib
          = inline_svg "svg/plus.svg"
          span new

    .one-page class=("disb" if @team_page)
      .name-page Team
      .drop-down-box.dib
        .title.dib show:
        .one-drop-down.dib
          select.select-header placeholder=""
            option data-display="" all
            option value="1" Events
            option value="2" Birthdays
            option value="1" Events

        .one-drop-down.dib
          select.select-header placeholder=""
            option data-display="" all
            option value="1" busines
            option value="2" global
            option value="1" Events

        .title.dib show:
        .one-drop-down.dib
          select.select-header placeholder=""
            option data-display="" all
            option value="1" Events
            option value="2" Birthdays
            option value="1" Events

      .right-box
        .search-box.search-button.dib = inline_svg "svg/magnify.svg"
        .button.white-color.dib
          = inline_svg "svg/plus.svg"
          span new



    .one-page class=("disb" if @agenda)
      .name-page Agenda
      .drop-down-box.dib
        .title.dib type:
        .one-drop-down.dib
          select.select-header placeholder=""
            option data-display="" all
            option value="1" Events
            option value="2" Birthdays
            option value="1" Events

        .title.dib location:
        .one-drop-down.dib
          select.select-header placeholder=""
            option data-display="" all
            option value="1" Events
            option value="2" Birthdays
            option value="1" Events

      .right-box
        .search-box.search-button.dib = inline_svg "svg/magnify.svg"
        .button.white-color.dib
          = inline_svg "svg/plus.svg"
          span new

    .one-page class=("disb" if @office_life_page)
      .name-page Office life

      .right-box
        .button.white-color.dib
          = inline_svg "svg/plus.svg"
          span specipy locatopn

    .one-page 
      .name-page Rasources
      .drop-down-box.dib
        .title.dib show:
        .one-drop-down.dib
          select.select-header placeholder=""
            option data-display="" all
            option value="1" Events
            option value="2" Birthdays
            option value="1" Events

        .title.dib sort:
        .one-drop-down.dib
          select.select-header placeholder=""
            option data-display="" all
            option value="1" Events
            option value="2" Birthdays
            option value="1" Events

      .right-box
        .search-box.search-button.dib.search-button = inline_svg "svg/magnify.svg"
        .button.white-color.dib
          = inline_svg "svg/plus.svg"
          span new

    .one-page class=("disb" if @chat)
      .name-page Chat
      .drop-down-box.dib
        .title.dib show:
        .one-drop-down.dib
          select.select-header placeholder=""
            option data-display="" all conversations
            option value="1" Events
            option value="2" Birthdays
            option value="1" Events

      .right-box
        .search-box.dib.search-button = inline_svg "svg/magnify.svg"
        .button.white-color.dib
          = inline_svg "svg/plus.svg"
          span new

    .one-page class=("disb" if @my_account)
      .name-page My account
      