doctype html
html
  head
    / = seo_tags
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    = stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    = render "general_menu_box"
    = render "allert_popup"
    = render "header"
    .main-wrapper

      = yield
    = javascript_include_tag "application", 'data-turbolinks-track' => true